body {
	--shape-size: 32px;
	--shape-f-color: #000;
	--content-width: calc(var(--shape-size) * 10);
	--content-height: calc(var(--shape-size) * 20);
	--sidebar-width: 320px;

	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1, h2, h3 {
	margin: 0;
	text-align: center;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}

.container {
	margin: 0 auto;
	padding: 40px 20px;
	display: grid;
	grid-template-columns: var(--sidebar-width) fit-content(100%) var(--sidebar-width);
	justify-content: center;
	gap: 20px;
}

.block {
	padding: 8px 10px 6px;
	border: 2px solid #dcdcdc;
}
.block + .block {
	margin-top: 20px;
}

.stats {
	margin: 20px 0 0;
	padding: 0;
	font-size: 24px;
	list-style: none;
}
.stats li {
	display: grid;
	grid-template-columns: calc(var(--shape-size) * 4) 40%;
	gap: 20px;
	justify-content: flex-end;
}
.stats li + li {
	margin-top: 20px;
}
.stats li > span:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
}
.stats li > span:last-child {
	display: flex;
	align-items: center;
}
.stats .shape {
	position: relative;
}

.shape {
	--transition-delay: 0.1s;
	position: absolute;
	display: block;
	color: var(--shape-f-color);
	transition: ease-out var(--transition-delay);
}
.shape div {
	position: absolute;
	transform-origin: 0 0;
}
.shape div::before,
.shape div::after {
	position: absolute;
	background-color: currentcolor;
	content: "";
}

/* shape F */
.shape-f {
	width: calc(var(--shape-size) * 3);
	height: calc(var(--shape-size) * 3);
}
.shape-f div {
	width: calc(var(--shape-size) * 3);
	height: calc(var(--shape-size) * 2);
}
.shape-f div::before {
	left: 50%;
	transform: translateX(-50%);
	width: var(--shape-size);
	height: var(--shape-size);
}
.shape-f div::after {
	top: 50%;
	width: calc(3 * var(--shape-size));
	height: var(--shape-size);
}

.shape-f_2 div,
.shape-f_4 div {
	left: var(--shape-size);
	transform: rotate(90deg) translateY(-100%);
}
.shape-f_3 div {
	top: var(--shape-size);
	transform: rotate(180deg) translate(-100%, -100%);
}
.shape-f_4 div {
	transform: rotate(270deg) translate(-100%, -50%);
}

/* shape LEG */
.shape-leg,
.shape-legr {
	width: calc(var(--shape-size) * 3);
	height: calc(var(--shape-size) * 3);
}
.shape-leg div,
.shape-legr div {
	width: calc(var(--shape-size) * 3);
	height: calc(var(--shape-size) * 2);
}

.shape-leg div::before,
.shape-legr div::before {
	width: calc(var(--shape-size) * 3);
	height: var(--shape-size);
}
.shape-leg div::after,
.shape-legr div::after {
	width: var(--shape-size);
	height: var(--shape-size);
}
.shape-leg div::after,
.shape-legr div::after {
	top: var(--shape-size);
}
.shape-legr div::after {
	left: calc(var(--shape-size) * 2);
}

.shape-leg_2 div,
.shape-leg_4 div,
.shape-legr_2 div,
.shape-legr_4 div {
	left: calc(var(--shape-size) * 3);
	transform: rotate(90deg);
}
.shape-leg_3 div,
.shape-legr_3 div {
	left: calc(var(--shape-size) * 3);
	top: calc(var(--shape-size) * 3);
	transform: rotate(180deg);
}
.shape-leg_4 div,
.shape-legr_4 div {
	left: 0;
	top: calc(var(--shape-size) * 3);
	transform: rotate(270deg);
}

/* shape Z */
.shape-z, .shape-z div,
.shape-zr, .shape-zr div {
	width: calc(var(--shape-size) * 3);
	height: calc(var(--shape-size) * 2);
}

.shape-z div::before, .shape-z div::after,
.shape-zr div::before, .shape-zr div::after {
	width: calc(var(--shape-size) * 2);
	height: var(--shape-size);
}

.shape-z div::after {
	top: 50%;
	right: 0;
}
.shape-zr div::before {
	right: 0;
}
.shape-zr div::after {
	top: 50%;
}

.shape-z_2 div, .shape-z_4 div,
.shape-zr_2 div, .shape-zr_4 div {
	transform: rotate(90deg) translateY(-100%);
}

/* shape square */
.shape-square {
	width: calc(var(--shape-size) * 2);
	height: calc(var(--shape-size) * 2);
	color: var(--shape-f-color);
	background-color: currentcolor;
}

/* shape square */
.shape-line,
.shape-line div {
	width: calc(var(--shape-size) * 4);
	height: var(--shape-size);
}
.shape-line div::before {
	width: calc(var(--shape-size) * 4);
	height: var(--shape-size);
}
.shape-line_2 div {
	transform: rotate(90deg) translateY(-100%);
}

.next-shape {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
}
.next-shape__icon {
	height: calc(var(--shape-size) * 4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.score p {
	margin: 0;
	font-size: 20px;
	text-align: center;
}

.nav-hint {
	position: relative;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	list-style: none;
}
.nav-hint__item {
	height: 48px;
	display: grid;
	align-items: center;
	justify-content: center;
}
.nav-hint__item_left {
	transform: rotate(180deg);
}
.nav-hint__item_down {
	transform: rotate(90deg);
}

.content {
	padding: 10px;
}
.content__inner {
	position: relative;
	width: var(--content-width);
	height: var(--content-height);
	overflow: hidden;
}

.board__item {
	position: absolute;
	width: 100%;
	height: var(--shape-size);
}
